<div>
    <div class="container">
      <button type="button" id="button-left" class="btn-nav">
        ᐊ
      </button>
    
      <div class="container-indicators" id='indicators'>
        <div class="indicator active" data-index=0></div>
        <div class="indicator" data-index=1></div>
        <div class="indicator" data-index=2></div>
      </div>
      <div class="slider" id="slider">
        <template><movie-image style="border-radius: 10px;" class='movie'></movie-image></template>
        <!-- <template><movie-image class='movie'></movie-image></template> -->
      </div>
      <button type="button" id="button-right" class="btn-nav">
        ᐅ
      </button>
    </div>
</div>
