/*
 *
 * Boiler Plate stuff 
 *
 *********************************/

.container {
    position: relative;
    /* max-width: calc(var(--movie--width) * 4)px; */
    max-width: 743px;
    /* max-height: 300px; */
    margin: 0 auto;
}

/*
 *
 * THE SLIDER CONTAINER
 *
 *********************************/
.slider {
    width: 100%;
    overflow-x: hidden;
    /* overflow-y: hidden; */
    white-space: nowrap;
    position: relative;
    /* padding-top: var(--slider-py); */
    /* padding-bottom: var(--slider-py); */
    padding-top: 0px;
    padding-bottom: 0px;
}

/*
 *
 * SLIDER INDICATORS
 *
 *********************************/
.container-indicators {
    width: 100px;
    position: absolute;
    right: 0;
    top: calc(var(--slider-py) - 60px);
    visibility: hidden;
    display:none;
}
.indicator {
    width: 15px;
    height: 2px;
    background-color: grey;
    display: inline-block;
}
.indicator.active {
    background-color: white;
}

/*
 *
 * MOVIE ELEMENTS!
 *
 *********************************/
.movie {
    width: var(--movie-width);
    height: var(--movie-height);
    display: inline-block;
    position: relative;
    color: white;
    padding: 0 2px;
    font-size: 0.8rem;
    transition: all 0.8s ease-in-out;
    border-radius: 10px;
}

.image-carousel > img {
    /* display: none; */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    /* border-radius: 10px; */
}

.movie {
/* movie-image img { */
    border-radius: 10px;
}

/*
 *
 * BUTTONS
 *
 *********************************/
.btn-nav {
    width: var(--arrow-width);
    height: var(--movie-height);
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    outline: none;
    border: none;
    color: white;
    top: 0px;
    /* top: var(--slider-py); */
    z-index: 3;
    visibility: hidden;
}

#button-left {
    left: 0;
}

#button-right {
    right: 0;
}

@media only screen and (max-width: 900px) {
    .btn-nav {
        display: none;
    }
}

@media only screen and (min-width: 901px) {
    .container:hover .btn-nav,
    .container:hover .container-indicators {
        visibility: visible;
    }
}
