<div>
    <div class="container">
      <button type="button" id="button-left" class="btn-nav">
        ᐊ
      </button>
    
      <div class="container-indicators" id='indicators'>
        <div class="indicator active" data-index=0></div>
        <div class="indicator" data-index=1></div>
        <div class="indicator" data-index=2></div>
      </div>
      <div class="slider" id="slider">
      </div>
      <button type="button" id="button-right" class="btn-nav">
        ᐅ
      </button>
        <template id='template-movie'>
            <div class="modal-movie">
              <img src="">
              <div class="description">
                <div class="description__text-container">
                  <span class="title">97% Match</span>
                  <!-- <span class="director">TV-14</span> -->
                  <span class="imdb_score">2h 11m</span>
                </div>
              </div>
            </div>
        </template>
    </div>
</div>
