<div id="modal">
  <img id="image_url" src="" alt="pochette du film">
  <div id="close_modal">X</div>
  <div>
    <div class="info-key">Title</div>
    <div id="title" class="info-value"></div>
  </div>
  <div>
    <div class="info-key">Genre</div>
    <div id="genre" class="info-value"></div>
  </div>
  <div>
    <div class="info-key">Date de sortie</div>
    <div id="date_published" class="info-value"></div>
  </div>
  <div>
    <div class="info-key">Score</div>
    <div class="imdb-score info-value"></div>
  </div>
  <div>
    <div class="info-key">Nombre de votes</div>
    <div id="votes" class="info-value"></div>
  </div>
  <div>
    <div class="info-key">Rélisateurs</div>
    <div id="directors" class="info-value"></div>
  </div>
  <div>
    <div class="info-key">Acteurs</div>
    <div id="actors" class="info-value"></div>
  </div>
  <div>
    <div class="info-key">Durée</div>
    <div id="duration" class="info-value"> min</div>
  </div>
  <div>
    <div class="info-key">Pays</div>
    <div id="countries" class="info-value"></div>
  </div>
  <div>
    <div class="info-key">Box Office</div>
    <div id="worldwide_gross_income" class="info-value"></div>
    <div id="budget_currency" class="info-value"></div>
  </div>
  <div>
    <div id="rated" class="info-value"></div>
  </div>
  <p id="long_description" class="info-value">v</p>
</div>
